h1 {
  text-align: center;
}

div.footer {
  width: 100vw;
  position: fixed;
  bottom: 0;
  z-index: 0;
}

/* section header style for all sections */
#sectionHeader {
  position: relative;
  color: var(--text-color);
}

#sectionHeader h2 {
  font-weight: 1200;
}

#Header-underline {
  content: "";
  width: 8%;
  height: 0.3rem;
  border-radius: 0.2rem;
  margin: 0 auto;
  background-color: var(--underline );
}

/* About section style  */

#about {
  min-height: 550px;
  padding-bottom: 50px;
  background-color: var(--main-bg-color);
  color: white;
  background-size: cover;
  font-size: 20px;
  padding: 30px;
  position: relative;
  z-index: 3;
}

#about ul>li {
  list-style: none;
  line-height: 35px;
}


/* Skill section style  */

#skills {
  background-image: url("https://www.shutterstock.com/image-illustration/growth-arrow-progress-success-business-600nw-1997712335.jpg");
  background-size: cover;
  width: 100%;
  padding: 40px;
}

#skills ul li {
  list-style: none;
  line-height: 55px;
  filter: drop-shadow(0 0 4px var(--secondary));
}

#skills ul li:hover {
  border-radius: 30px;
  filter: drop-shadow(0 0 2px var(--secondary-color));
  background-color: var(--overlay-color);
}


/* contact us section style  */
#contact {
  background-image: url(templete-11.jpg);
  background-position: center;
  background-size: cover;
  background-clip: content-box;
}

#contact input:focus, #contact textarea:focus {
  border: none;
  outline: none;
}

#contact .head {
  border: 1px solid var(--bg-color);
  border-radius: 30px;
  background-color: #4d4d4d77;
}

#project .head h1 {
  background: -webkit-linear-gradient(180deg, #00a6ff, #ff9500);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#contact i {
  font-size: 50px;
  padding: 10px;
}

.hover-shadow {
  background-color: rgba(255, 255, 255, 0.486);
  border-radius: 50px;
}

.hover-shadow:hover {
  box-shadow: 1px 1px 4px 1px var(--main-bg-color);
}

#projectSection #project {
  border: 1px solid black;
  border-radius: 1rem;
  background-color: var(--lightcyan);
}

#projectSection #project:hover {
  box-shadow: 0 0 3px var(--gray), 0 0 6px var(--gray);
}

#projectSection #project h5 small {
  font-size: 0.7rem;
}

#projectSection #project h5 {
  width: 100%;
  min-height: 2rem;
  padding: 0.6rem 0;
  border-radius: 1rem 1rem 0 0;
  color: var(--text-color);
  background-color: var( --int-bg-color);
  border-bottom: 2px dashed var( --main-bg-color);
}

#projectSection #project marquee {
  margin: 0.2rem 3rem;
  color: var(--text-color);
}

#projectSection #project button {
  width: 10rem;
  padding: 0.5rem 1rem;
  margin: 1rem;
  color: var(--text-color);
  border: 1px solid var(--bg-color);
  background-color: var(--bg-color);
  border-radius: 2rem;
  outline: none;
  font-weight: 700;
  font-size: 0.8rem;
  transition: all 0.6s;
}



#projectSection #project button#gitRepoBtn:hover {
  background-color: var(--cyan);
  border: 1px solid white;
  color: white;
}

#projectSection #project button#visitSiteBtn:hover {
  border: 1px solid white;
  background-color: var(--warning);
  color: white;
}

#projectSkill {
  color: white;
  filter: drop-shadow(0 0 2px white);
  font-size: 0.8rem;
  opacity: 0.7;
}

#projectSkill:hover {
  opacity: 1;
}

.React {
  background-image: linear-gradient(135deg, #1fbeef, #50D6FF);
}

.Vite {
  background-image: linear-gradient(45deg, #62B1FF, #FFB817);
}

.HTML {
  background-image: linear-gradient(135deg, #E3552B, #F06A31);
}

.CSS {
  background-image: linear-gradient(45deg, #1B75B8, #3AADDD);
}

.JavaScript {
  background-image: linear-gradient(135deg, #D0AB13, #FCD430);
}

.Bootstrap {
  background-image: linear-gradient(45deg, #7149A2, #3E9CE9);
}

.jQuery {
  background-image: linear-gradient(135deg, #FCD430, #0D92FF);
}

.Json {
  background-image: linear-gradient(45deg, #9B7CAB, #EAEAE1);
}

/* education section style  */
#educationContent img {
  width: 4rem;
  height: 6rem;
  border-radius: 50%;
}

#educationContent img:hover {
  padding: -4px;
  border: 4px solid var(--main-bg-color);
}


/* Education Content */
#educationContent {
  background-color:var(--edu-bg-color);
  color: var(--text-color);
}

/* IternshipContent */

.internship {
  background-color:var(--int-bg-color);
}

#InternshipContent {
  padding: 1em 0;
  width: 80%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.692);
  display: grid;
  grid-template-columns: 5em auto;
}

.InternLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
}

.InternLogo img {
  border-radius: 5%;
}

.InternContent {
  width: 90%;

}

#InternshipContent h2 {
  font-weight: 300;
}

#InternshipContent h4 {
  font-weight: 300;
}

#InternshipContent #duration {
  display: flex;
  flex-direction: row;
  margin-left: 60%;
}

#InternshipContent h6 {
  font-weight: 300;
}

#InternshipContent sub {
  padding-top: 0.8em;
  display: inline;
  font-weight: 500;
}

/* IternshipContent */
#InternshipContent {
  padding: 1em 0;
  width: 80%;
  margin: 0 auto;
  /* background-color: rgba(255, 255, 255, 0.692); */
  background-color: var(--lightcyan);
  color: var(--text-color);
  display: grid;
  grid-template-columns: 5em auto;
}

.InternLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
}

.InternLogo img {
  border-radius: 5%;
}

.InternContent {
  width: 90%;

}

#InternshipContent h3 {
  font-weight: 300;
}

#InternshipContent h5 {
  font-weight: 300;
}

#InternshipContent #duration {
  display: flex;
  flex-direction: row;
  margin-left: 60%;
}

#InternshipContent h6 {
  font-weight: 300;
}

#InternshipContent sub {
  padding-top: 0.8em;
  display: inline;
  font-weight: 500;
}

@media only screen and (max-width: 576px) {
  #educationContent img {
    width: 4rem;
    height: 8rem;
    border-radius: 50%;
  }
}


@media only screen and (max-width: 768px) {

  #InternshipContent {
    padding: 1em 0;
    width: 80%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.692);
    display: grid;
    grid-template-columns: auto;
  }

  .InternLogo {
    width: 80%;
    margin: auto;
  }

  #InternshipContent #duration {
    width: 10em;
    text-align: center;
    margin-left: 0px;
    display: inline;
  }

}