h1{
  text-align: center;
}

div.footer{
  width: 100vw;
  position: fixed;
  bottom: 0;
  z-index: 0;
}

/* section header style for all sections */
#sectionHeader {
  position: relative;
}

#sectionHeader h2{
  font-weight: 1200;
}

#Header-underline{
  content: "";
  width: 8%;
  height: 0.3rem;
  border-radius: 0.2rem;
  margin: 0 auto;
  background-color: rgb(0, 81, 255);
}

/* About section style  */

#about {
  min-height: 550px;
  padding-bottom: 50px;
  background-color: rgb(2, 154, 255);
  color: white;
  background-size: cover;
  font-size: 20px;
  padding: 30px;
  position: relative;
  z-index: 3;
}

#about ul>li {
  list-style: none;
  line-height: 35px;
}


/* Skill section style  */

#skills {
  background-image: url("https://www.shutterstock.com/image-illustration/growth-arrow-progress-success-business-600nw-1997712335.jpg");
  background-size: cover;
  width: 100%;
  padding: 40px;
}

#skills ul li {
  list-style: none;
  line-height: 55px;
  filter: drop-shadow( 0 0 4px rgb(158, 158, 158));
}

#skills ul li:hover {
  border-radius: 30px;
  filter: drop-shadow( 0 0 2px rgb(0, 0, 0));
  background: rgba(211, 211, 211, 0.263);
}


/* contact us section style  */
#contact{
  background-image: url(templete-11.jpg);
  background-position: center;
  background-size: cover;
  background-clip: content-box;
}

#contact input:focus, #contact textarea:focus {
  border: none;
  outline: none;
}

#contact .head {
  border: 1px solid white;
  border-radius: 30px;
  background-color: #4d4d4d77;
}

#project .head h1 {
  background: -webkit-linear-gradient(180deg, #00a6ff, #ff9500);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#contact i {
  font-size: 50px;
  padding: 10px;
}

.hover-shadow {
  background-color: rgba(255, 255, 255, 0.486);
  border-radius: 50px;
}

.hover-shadow:hover {
  box-shadow: 1px 1px 4px 1px #1dbbffd3;
}
