* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section{
  width: 100vw;
  min-height: 100vh;
}

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  /* dark-light mode style  */
  --bg-color: #0c0c0c;
  --primary-color: #0d0d0d;
  --secondary-color: #fff;
  --main-bg-color : rgb(43, 43, 43);
  --text-color: #fff;
  --text-color-2: #fff;
  --text-color-3: rgb(46, 46, 46);
  --overlay-color: rgb(12 12 12 / 63%);
  --gradient-body : radial-gradient(rgb(80, 80, 80), rgb(49, 49, 49));
  --lightcyan : rgb(80, 80, 80);
  --gray : rgb(37, 44, 63);
  --edu-bg-color :  #213a3fcc;
  --int-bg-color :  #2727276b;
  --underline : rgb(2, 141, 255);
}

[data-theme="light"] {
  --bg-color: #ffffff;
  --primary-color: #ffffff;
  --secondary-color: #000;
  --main-bg-color : rgb(2, 154, 255);
  --text-color: #000;
  --text-color-2: #000;
  --text-color-3: #ffffff;
  --overlay-color: rgb(255 255 255 / 70%);
--edu-bg-color :  #007bff1f;
  --lightcyan : lightcyan;
  --gradient-body : radial-gradient(#fefefe, #c7dbd4);
  --gray : gray;
  --int-bg-color :  #ffdc7a6b;
  --underline : rgb(2, 141, 255)  ;
}


nav{
  background-color: var(--main-bg-color);
  color: var(--text-color);
}

nav ul li a{
  color: var(--text-color);

}

#profile-content{
  color: var(--text-color-2);
}

